%p Here's a list of users
%ul#user_list
  - @users.each do |u|

    %li
      = link_to(u.name, edit_user_path(u))
      = link_to("http://#{request.host}#{request.port_string}/auth/token?token=#{u.token}","http://#{request.domain}#{request.port_string}/auth/token?token=#{u.token}", :class => 'login_url')
      = link_to('Delete', user_path(u), :confirm => 'Are you sure?', :method => :delete, :class => 'delete') unless u == current_user
= link_to 'Add another?', new_user_path
