%section.sites
  %p welcome #{current_user.name}
  %p This is a list of sites:
  #site_list
    - @sites.each do |s|
      .site
        .actions
          - if(current_user.admin?)
            .minibutton= link_to 'Delete', site_path(s), :method => :delete, :confirm => "Are you sure?"
          .minibutton= link_to 'Edit', site_documents_path(s) 
          .minibutton
            %a{:href => "http://#{with_subdomain(s.url)}/index.html"} Preview
        %p= s.name
        - if(current_user.admin?)
          %p= File.join(Yetting.repo_clone_url, File.basename(s.repo_path))
  - if current_user.admin?
    .actions
      .minibutton= link_to 'Create New Site', new_site_path

