%section.sites
  %p welcome #{current_user.name}
  %p This is a list of sites:
  #site_list
    - @sites.each do |s|
      .site
        %p= s.name
        - if(current_user.admin?)
          %p= s.repo_path
          = link_to 'Delete', site_path(s), :method => :delete, :confirm => "Are you sure?"
        = link_to 'Edit', edit_site_path(s) 
  - if current_user.admin?
    = link_to 'Create New Site', new_site_path

